<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.avantages.sociaux.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/avantagessociaux/greet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.avantages.sociaux.server.UserServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/avantagessociaux/user</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>employeServlet</servlet-name>
    <servlet-class>com.avantages.sociaux.server.EmployesServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>employeServlet</servlet-name>
    <url-pattern>/avantagessociaux/employe</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>AvantagesSociaux.html</welcome-file>
  </welcome-file-list>

</web-app>
